*{
    margin: 0;
    padding: 0;
}
#navbar{
    margin-left: 0%;
    background-color: bisque;
}
body{
   margin-left: 10%;
   margin-right: 10%;
    /* background-color: aqua; */
    /* text-align: center; */
}
/* #s2{
    height: 30vh;
    left: 30%;
    background-color: aqua;
} */
/* .main{
    position: relative;
    left: 60px;
    background-color: aqua;
    border: 5px solid red;
} */